<div class='col-md-12'>
	<h1>
		{{publicacion.title}} 
		<span id='updated' class='hide text-primary'>
			<i class="glyphicon glyphicon-ok"></i>
			{{ publicacion.updated }}
		</span>	
	</h1>
	<small class="text-muted">
		Última Modificación: 	
		{{ publicacion.lastUpdated }}
		<br>
		Creación: 	
		{{ publicacion.created }}
	</small>
	<form ng-submit='savePublicacion()'>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="dir">Título</label>
					<input type="text" ng-model='publicacion.title' class='form-control' required>
				</div>

				<div class="form-group">
					<label for="dir">Descripción</label>
					<input type="text" ng-model='publicacion.description_short' class='form-control' required>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="url">URL</label>
					<input type="text" ng-model='publicacion.url' class='form-control'>
				</div>	

				<div class="form-group">
					<label for="img">Imagen</label>
					<input type="file" id='img' name='img' class='form-control'>
				</div>		
			</div>
		</div>
		
		
			

		<div class="form-group">
			<label for="dir">Contenido</label>
			<textarea id='contenido' cols="30" rows="10" ng-model='publicacion.description' class='form-control' required></textarea>			
		</div>	

		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="tag">tag</label>
					<input type="text" ng-model='publicacion.tag' class='form-control'>
				</div>
			</div>
			<div class="col-md-6">
				<div class="thumbnail">
					<figure>
						<figcaption>Imagen Actual</figcaption>
						<img src="" id='currentImg' class='imgDetail' alt="{{publicacion.title}}">
					</figure>			
				</div>	
			</div>
		</div>
					
		<button type="submit" class='btn btn-primary'>
			<i class="glyphicon glyphicon-check"></i>
			Guardar
		</button>
		<a href='./publicaciones' class='btn btn-info'>
			<i class="glyphicon glyphicon-list-alt"></i>
			Todos
		</a>
		<a ng-click='deletePublicacion(publicacion._id)') class='btn btn-danger'>
			<i class="glyphicon glyphicon-trash"></i>
			Eliminar
		</a>
	</form>			
		</li>
	</ul>		
</div>
